$primary-color: $color-grey;
$secondary-color: mix($color-blue, $color-text-light, 80%);

.footer {
  font-size: $font-size-8;
  color: $primary-color;
  padding: 3rem 0 1rem;
  margin-top: 3rem;

  &-wrapper {
    @include container;
    text-align: right;
  }

  p {
    margin: 0;
  }

  a {
    color: $secondary-color;
    text-decoration: underline;
  }

  .theme {
    svg {
      color: $secondary-color
    }
  }
}
