// $header-width: 1000px;
// $header-height: 3.5rem;

.header {
  background-image: linear-gradient(
    0deg,
    rgba($color: black, $alpha: 0),
    rgba($color: black, $alpha: 0.4)
  );
  // box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.07);
  // background: transparent;
  color: rgba($color: white, $alpha: 0.95);

  &__no-hero {
    color: inherit;
    background: none;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    z-index: 0;
  }

  position: relative;
  z-index: 1;

  a {
    color: inherit;
  }

  &-wrapper {
    @include container($width: $header-width);
    height: $header-height;
    display: flex;
    justify-content: space-between;
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  &__right {
    margin-left: auto;
  }

  &-logo {
    font-size: $font-size-3;
    font-weight: normal;
    margin-right: 1rem;
  }

  &-nav {
    display: flex;
    align-items: center;
    > a {
      margin: 0 0.5em;
      padding: 0 0.5em;
      font-size: $font-size-7;
      line-height: $header-height;

      @include underline-from-center();

      &:hover {
        color: $color-blue;
      }
    }
  }
}
