.highlight {
  line-height: 1.5;
  overflow: auto;
  margin: 1.2em 0;
  font-size: $font-size-8;

  color: #545454;
  background: #fefefe;
  border-radius: 3px;

  figcaption {
    margin: 0.5em;
    font-size: $font-size-8;
    float: right;
    font-style: italic;

    span:not(:last-child)::after {
      content: "/";
      padding: 0 0.5em;
      color: $color-text;
    }
  }

  table {
    margin: 0;
    width: auto;
    border: none;
  }

  td,
  tr {
    padding: 0;
    border: none;
  }

  pre {
    margin: 0;
  }

  .gutter {
    color: #999;
    border-right: 1px solid #efefef;
    text-align: right;
    user-select: none;
    pre {
      padding: 0 0.9em;
    }
  }

  .code {
    pre {
      padding: 1em 1.2em;
    }
  }

  .comment,
  .quote {
    color: #696969;
  }

  /* Red */
  .variable,
  .template-variable,
  .tag,
  .name,
  .selector-id,
  .selector-class,
  .regexp,
  .deletion {
    color: #d91e18;
  }

  /* Orange */
  .number,
  .built_in,
  .builtin-name,
  .literal,
  .type,
  .params,
  .meta,
  .link {
    color: #aa5d00;
  }

  /* Yellow */
  .attribute {
    color: #aa5d00;
  }

  /* Green */
  .string,
  .symbol,
  .bullet,
  .addition {
    color: #008000;
  }

  /* Blue */
  .title,
  .section {
    color: #007faa;
  }

  /* Purple */
  .keyword,
  .selector-tag {
    color: #7928a1;
  }

  .emphasis {
    font-style: italic;
  }

  .strong {
    font-weight: bold;
  }

  @include dark {
    background: #2b2b2b;
    color: #f8f8f2;

    /* comment */
    .comment,
    .quote {
      color: #d4d0ab;
    }

    /* Red */
    .variable,
    .template-variable,
    .tag,
    .name,
    .selector-id,
    .selector-class,
    .regexp,
    .deletion {
      color: #ffa07a;
    }

    /* Orange */
    .number,
    .built_in,
    .builtin-name,
    .literal,
    .type,
    .params,
    .meta,
    .link {
      color: #f5ab35;
    }

    /* Yellow */
    .attribute {
      color: #ffd700;
    }

    /* Green */
    .string,
    .symbol,
    .bullet,
    .addition {
      color: #abe338;
    }

    /* Blue */
    .title,
    .section {
      color: #00e0e0;
    }

    /* Purple */
    .keyword,
    .selector-tag {
      color: #dcc6e0;
    }
  }
}
