.pagination {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  font-size: $font-size-8;

  a {
    padding: 0.6em 1em;
    background: $color-primary;
    color: white;
    transition: background-color 200ms ease-out;
    border-radius: 1px;
    &:hover {
      background: rgba($color-primary, 0.8)
    }
    @include dark {
      color: #000;
      background: $color-primary-dark;
      &:hover {
        background: rgba($color-primary-dark, 0.8)
      }
    }
  }

  .prev {
    margin-right: auto;
    @include icon-back();
  }

  .next {
    margin-left: auto;
    @include icon-forward();
  }
}
