.post {
  padding: 3rem 0;

  &__excerpt {
    & + & {
      border-top: 2px dashed $color-border;
      @include dark {
        border-top-color: $color-border-dark;
      }
    }

    .post-title {
      font-size: $font-size-3;
    }

    // .post-content {
    //   opacity: 0.8;
    // }
  }

  &-meta {
    font-size: $font-size-7;
    color: $color-text-light;
    @include dark {
      color: $color-text-light-dark;
    }
    margin: 0.5rem 0;
    display: flex;
    >*:not(:first-child)::before {
      content: "|";
      padding: 0 0.5em;
    }
    a {
      color: inherit;
      margin-right: 0.3em;
      &:hover {
        color: $color-text;
        @include dark {
          color: $color-text-dark;
        }
      }
    }
  }

  &-title {
    // color: inherit;
    // font-size: $font-size-1;
    margin: 0;
    a {
      color: mix($color-black, $color-primary, 40%);
      &:hover {
        color: mix($color-black, $color-primary, 20%);
      }
      @include dark {
        color: mix($color-white, $color-primary-dark, 20%);
        &:hover {
          color: mix($color-white, $color-primary-dark, 40%);
        }
      }
    }
  }

  &-aside {
    padding: 0 1em;
    border-left: 2px solid $color-primary;
    @include dark {
      border-left-color: $color-primary-dark;
    }
    font-size: 0.9em;

    @media (min-width: 1300px) {
      max-width: calc(50vw - #{$container-width/2});
      float: right;
      margin-right: -25%;
      position: sticky;
      top: 1em;

      font-size: 0.8em;
    }
  }

  &-toc {
    &-title {
      font-weight: bold;
      // color: $color-grey;
    }

    ol {
      list-style: none;
      margin: 0;
      padding-left: 0;

      ol {
        padding-left: 1em;
      }
    }

    a {
      color: $color-text-light;
      &.active {
        color: $color-link;
        @include dark {
          color: $color-link-dark;
        }
      }
    }
  }

  &-content {
    margin: 1rem 0;
    // letter-spacing: 0.01rem;
    text-align: justify;
  }

  // &-time {
  //   margin: 1em 0;
  //   display: block;
  // }
  &-more {
    text-decoration: underline;
  }

  &-end {
    position: relative;
    margin: 3rem 0;
    color: #ddd;
    border-bottom: 0.2em dashed #eee;
    &::after {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      padding: 0.5em;
      background: $color-bg;
      @include dark {
        background: $color-bg-dark;
      }
      content: attr(data-text);
    }
  }
}

.video-container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  margin: 0 0 1.75em;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
  }
}
