<%
  var bgImage = (src) => src ? `background-image: url('${src}');` : "";
  if (theme.hero) {
    var colorStyle = theme.hero.color ? `background-color:${theme.hero.color};` : "";
    var bgStyle = bgImage(theme.hero.image);
    var bgSmStyle = bgImage(theme.hero.image_small);
  }
%>

<style>
.hero {
  <%- colorStyle + bgStyle %>
}

@media (max-width: 768px) {
  .hero {
    <%- bgSmStyle %>
  }
}
</style>

<section class="hero">
  <div class="hero-info">
    <div class="hero-info-wrapper">
      <h1><%= config.title %></h1>
      <p><%= theme.blog.slogan %></p>
    </div>
  </div>
</section>
