<% if (theme.header.nav) { %>
<nav class="nav">
  <a id="nav-toggle" class="nav-toggle"><div></div></a>
  <div class="nav-wrapper">
    <ul>
      <% Object.entries(theme.header.nav).forEach(([name, link]) => { %>
        <li><a class="nav-link <%- is_current(link) ? 'nav-link__active' : '' %>" href="<%= link %>"><%= name %></a></li>
      <% }) %>
    </ul>
  </div>
</nav>
<% } %>
