// typography

html {
  // font-size: $font-size-default;
  @include fluid-type(
    map-get($font-size-min, 'vw'), 
    map-get($font-size-max, 'vw'),
    map-get($font-size-min, 'fs'),
    map-get($font-size-max, 'fs')
  );
  line-height: $line-height-default;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  // -webkit-font-smo
  // @include is-desktop {
  //   // font-size: $font-size-desktop;
  //   line-height: $line-height-desktop;
  // }
}

body {
  font-family: $font-family-sans;
  font-size: 1rem;
  color: $color-text;
  // text-rendering: geometricPrecision;

  @include is-mobile {
    hyphens: auto;
    word-wrap: break-word;
  }

  @include dark {
    color: $color-text-dark;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: $font-family-serif;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: -0.02em;

  margin: 0 0 0.75em;
  * + & {
    margin-top: 1.25em;
  }
}

h1 {
  font-size: $font-size-1;
}

h2 {
  font-size: $font-size-2;
}

h3 {
  font-size: $font-size-3;
}

h4 {
  font-size: $font-size-4;
}

h5 {
  font-size: $font-size-5;
}

h6 {
  font-size: $font-size-6;
}

b,
strong {
  font-weight: bold;
}

hr {
  border: 0;
  border-top: 1px solid $color-border;
  @include dark {
    border-color: $color-border-dark;
  }
}

p,
hr,
ul,
ol,
dl,
blockquote,
pre {
  margin: 0 0 1em;
  * + & {
    margin-top: 1em;
  }
}

ins,
a {
  text-decoration: none;
}

a {
  color: $color-link;
  -webkit-text-decoration-skip: objects;
  transition: color 200ms ease-out;
  &:hover {
    color: $color-link-hover;
  }

  @include dark {
    color: $color-link-dark;
    &:hover {
      color: $color-link-hover-dark;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

blockquote {
  font-style: italic;
  padding: 0 1.5em;
  border-left: $color-primary solid 0.2em;
  @include dark {
    border-left-color: $color-primary-dark;
  }

  p {
    margin: 0;
  }

  cite:before {
    content: "—";
    padding: 0 0.5em;
  }
}

ul,
ol {
  padding-left: 2em;
}

dt,
dd,
ol ol,
ul ul,
ol ul,
ul ol {
  margin: 0;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;

  tr {
    border-top: 1px solid $color-border;
    @include dark {
      border-top-color: $color-border-dark;
    }
    // &:nth-child(2n) {
    //   background: #f9f9f9;
    // }
  }

  th,
  td {
    text-align: left;
    border: 1px solid $color-border;
    padding: 0.3em 0.6em;
    @include dark {
      border-color: $color-border-dark;
    }
  }
}

code {
  color: $color-primary;
  @include dark {
    color: $color-primary-dark;
  }
  font-size: $font-size-7;
  letter-spacing: -0.01em;
  &::before,
  &::after {
    content: "`";
  }
}

kbd {
  background: #fafafc;
  border: 1px solid #eee;
  font-size: $font-size-8;
  border-radius: 3px;
  padding: 0.2em 0.4em;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

dt {
  font-weight: bold;
  font-style: italic;
}

dd {
  margin-left: 3em;
}
